<div class="mb-4 btn-group btn-group-justified">
    <a href="#" class="btn btn-default" system="deleteLogs">
        <i class="fa fa-trash-o"></i> <%-lang['Delete']%> <%-lang['Logs']%>
    </a>
    <a href="#" class="btn btn-default" restart="system">
        <i class="fa fa-retweet"></i> <%- lang['Restart Core'] %>
    </a>
    <% if(!config.thisIsDocker){ %>
        <a href="#" class="btn btn-default" system="update">
            <i class="fa fa-retweet"></i> <%- lang['Update'] %>
        </a>
    <% } %>
    <a href="#" class="btn btn-default" restart="cron">
        <i class="fa fa-retweet"></i> <%- lang['Restart CRON'] %>
    </a>
    <a href="#" class="btn btn-default" restart="logs">
        <i class="fa fa-retweet"></i> <%- lang['Flush PM2 Logs'] %>
    </a>
</div>
<div class="row">
    <div class="col-md-5">
        <% include systemInfoBlock.ejs %>
    </div>
    <div id="logs" class="col-md-7">
        <div class="form-group-group red" style="height:400px;overflow:auto">
            <div id="logs-list""></div>
        </div>
    </div>
</div>
<script src="<%-window.libURL%>assets/js/super.systemTab.js" type="text/javascript"></script>
